.task_list {
  background: rgb(244, 245, 247);
  border-radius: 2px;
  min-height: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

.title {
  padding: 13px 10px 17px;
  text-transform: uppercase;
  color: rgb(94, 108, 132);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project__box {
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 5px;
}

.body__list {
  padding: 0px 8px;
}

.w-10,
.h-10 {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #e0e0e0;
  overflow: hidden;
}

.fa-bookmark {
  color: green;
}

.fa-arrow-up {
  color: red;
}

.fa-exclamation-triangle {
  color: orange;
}

.fa-exclamation-circle {
  color: red;
}

.button_modal {
  padding: 0px 8px;
  line-height: 1;
  cursor: pointer;
  margin-left: 4px;
  height: 32px;
  font-size: 13px;
}

.tox-editor-container {
  border-radius: 4px;
}

@media only screen and (max-width: 1060px) {
  .avatar__icon {
    display: none;
  }
}
